<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true">
  <targets>
    <target xsi:type="File" name="Log_Target" fileName="${basedir}/Log/${date:format=yyyy-MM-dd}/Log_${uppercase:${level}}.log" layout="[${level:uppercase=true}] ${date:format=yyyy-MM-dd HH\:mm\:ss} - ${message}"/>
    <target xsi:type="File" name="Error_Log_Target" fileName="${basedir}/Log/${date:format=yyyy-MM-dd}/Log_Exception.log" layout="[${level:uppercase=true}] ${date:format=yyyy-MM-dd HH\:mm\:ss} - ${message} ${newline} ${exception:format=type,message,method:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}"/>
    <target name="coloredConsole" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" layout="[${level:uppercase=true}] ${date:format=yyyy-MM-dd HH\:mm\:ss} - ${message}">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray" />
      <highlight-row condition="level == LogLevel.Info" foregroundColor="White" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Magenta" />
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray" />
    </target>
    <target name="coloredConsole2" xsi:type="ColoredConsole" useDefaultRowHighlightingRules="false" layout="[${level:uppercase=true}] ${date:format=yyyy-MM-dd HH\:mm\:ss} - ${message}">
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Blue" />
    </target>
  </targets>
  <rules>
    <logger name="general_logger" minlevel="Info" writeTo="Log_Target" />
    <logger name="general_logger" minlevel="Info" writeTo="coloredConsole" />
    <logger name="command_logger" minlevel="Info" writeTo="Log_Target" />
    <logger name="command_logger" minlevel="Info" writeTo="coloredConsole2" />
    <logger name="exceiption_logger" minlevel="Warn" writeTo="coloredConsole" />
    <logger name="exceiption_logger" minlevel="Warn" writeTo="Error_Log_Target" />
  </rules>
</nlog>